<div class="node-json-wrapper">
    <h1>JSON Representation of page: <strong>{{ nid }}</strong></h1>
    <p><strong>Site API Key:</strong> {{ apikey }}</p>
    <div class="node-json">{{ node }}</div>
</div>
